.profile {
    background-color: rgba(105, 105, 105, 0.71);
    padding: 0 20px;
}

.profile-details {
    display: flex;
    align-items: center;
}

.profile-details img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 40%;
}

.break {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 10px;
}

.break-btn {
    background-color: slategray;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 30%;
    border: none;
}
.break-btn:hover{
    background-color: darkblue;
    color: white;
}

.details {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn-complet {
    background-color: darkblue;
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.btn-complet:hover {
    background-color: aliceblue;
    color: black;
}