.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-radius: 10px;
}

.card-data {
    border-radius: 10px;
    background-color: rgba(160, 175, 175, 0.775);
    padding: 20px;
}

.card-data img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.about-item{
    font-weight: 600;
}
.btn-add {
    background-color: darkblue;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.btn-add:hover {
    background-color: aliceblue;
    color: black;
}


@media only screen and (max-width: 768px) {
    .card {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }

    .card-data img {
        height: 200px;
    }
    .about{
        display: none;
    }
    .card-data {
        padding: 10px;
    }
}